<mat-toolbar color="primary" class="sticky-header">
  <span >Student Portal</span>
  <span class="spacer"></span>
  <div class="nav-links">
    <a mat-button routerLink="/" fragment="home">Home</a>
  </div>
  
</mat-toolbar>

<div class="auth-container">
  <!-- Login Form -->
  <div *ngIf="!isLogin" >
    <h2>Login</h2>
    <div class="login-form">

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Student ID or Email</mat-label>
      <input matInput [(ngModel)]="loginStudentIdOrEmail" placeholder="Enter your student ID or email" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="loginPassword" type="password" placeholder="Enter your password" />
      </mat-form-field>
    </div>

    <button (click)="onLoginSubmit()">Login</button>
    <p>Don’t have an account? <a (click)="toggleForm()">Register</a></p>
  </div>

  </div>

  <!-- Register Form -->
  <div *ngIf="isLogin" >
    <h2>Student Registration Form</h2>
    <div class="register-form">

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Student ID</mat-label>
      <input matInput [(ngModel)]="studentId" placeholder="Enter your student ID" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Full Name</mat-label>
      <input matInput [(ngModel)]="name" placeholder="Enter your full name" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" placeholder="Enter your email" />
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]="phoneNumber" placeholder="Enter your phone number (optional)" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password"  [type]="hide() ? 'password' : 'text'" placeholder="Enter your password" />
      <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Confirm Password</mat-label>
      <input matInput [(ngModel)]="confirmPassword" [type]="hide() ? 'password' : 'text'" placeholder="Confirm your password" />
      <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
      </mat-form-field>
    </div>
    

    <div class="form-field" >
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Branch</mat-label>
      <mat-select [(ngModel)]="branch">
        <mat-option *ngFor="let option of branchOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="year">
        <mat-option *ngFor="let option of yearOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Semester</mat-label>
      <mat-select [(ngModel)]="semester">
        <mat-option *ngFor="let option of semesterOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    

    <div class="form-field">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Academic Year</mat-label>
          <mat-select [(ngModel)]="academicYear">
            <mat-option *ngFor="let year of academicYearOptions" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="flex-row">
          <div>
            <input type="checkbox" [(ngModel)]="isLateralEntry" (change)="onLateralEntryChange()"   />
          </div>

          <label class="lateral_entry"> Lateral Entry </label>
        </div>
    </div>
    
    
    

    

    <div class="face-recognition">
      <video id="videoElement" width="100%" autoplay muted></video>
      <button mat-raised-button color="primary" *ngIf="!registerfaceoption" (click)="RegisterFace()">Register Face</button>
      <div *ngIf="registerfaceoption">
        <button mat-raised-button color="primary" (click)="captureFace()">Register Face</button>
        <button mat-raised-button color="warn" (click)="stopVideo()">Cancel</button>
      </div>
    </div>

    <button (click)="onRegisterSubmit()">Register</button>
    <p>Already have an account? <a (click)="toggleForm()">Login</a></p>
  </div>
</div>
</div>