<mat-toolbar color="primary" class="sticky-header">
  <span>Student Portal</span>
  <span class="spacer"></span>
  <div class="nav-links" >
    <a mat-button routerLink="/" fragment="home">Home</a>
    <a mat-button (click)="toggleForm()">{{ isLogin ? 'Login' : 'Register' }}</a>
  </div>
</mat-toolbar>

<div class="auth-container">
  <!-- Login Form -->
  <div *ngIf="!isLogin" @formTransition>
    <h2>Login</h2>
    <div class="login-form">
  

      <div class="form-field">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Student ID or Email</mat-label>
          <input matInput [(ngModel)]="loginStudentIdOrEmail" placeholder="Enter your student ID or email" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="loginPassword" [type]="hide ? 'password' : 'text'" placeholder="Enter your password" />
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <button class="login_button" (click)="onLoginSubmit()">Login</button>
    </div>
  </div>

  <!-- Register Form -->
  <div *ngIf="isLogin" @formTransition>
    <h2>Student Registration Form</h2>
    <mat-vertical-stepper linear>
      <!-- Step 1: Basic Details -->
      <mat-step label="Basic Details" [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Student ID</mat-label>
            <input matInput formControlName="studentId" placeholder="Enter your student ID" >
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter your full name" >
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email" >
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" placeholder="Enter your phone number (optional)">
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Parents Phone Number</mat-label>
            <input matInput formControlName="phoneNumber1" placeholder="Enter your phone number (optional)">
          </mat-form-field>

          
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Enter your password" >
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" placeholder="Confirm your password" >
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Year</mat-label>
            <mat-select formControlName="year" >
              <mat-option *ngFor="let option of yearOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Semester</mat-label>
            <mat-select formControlName="semester" >
              <mat-option *ngFor ="let option of semesterOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Academic Year</mat-label>
            <mat-select formControlName="academicYear" >
              <!-- <mat-option *ngFor="let year of academicYearOptions" [value]="year">{{ year }}</mat-option> -->
              <mat-option *ngFor="let year of academicYearOptions" [value]="year.id">
                {{ year.start_year }} - {{ year.end_year }}
              </mat-option>
            </mat-select>

          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>Branch</mat-label>
            <mat-select formControlName="branch" >
              <!-- <mat-option *ngFor="let option of branchOptions" [value]="option">{{ option }}</mat-option> -->
              <mat-option *ngFor="let branch of branchOptions" [value]="branch.id">
                {{ branch.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>    
            <mat-checkbox class="le_checkbox" 
            formControlName="isLateralEntry"
            (change)="onLateralEntryChange()"
            >Lateral Entry</mat-checkbox>
          </div>
          <div >
            <button mat-button matStepperNext class="matStepperNext" >Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Step 2: Face Recognition -->
      <mat-step label="Face Recognition" [stepControl]="secondFormGroup">
        <div class="face-recognition">
          <div *ngIf="loading" class="loading-spinner">
            <!-- <div  class="loading-spinner"> -->
              <mat-spinner></mat-spinner>
            </div>
          <video id="videoElement" width="100%" autoplay muted>
          </video>
          <button mat-raised-button color="primary" *ngIf="!registerfaceoption" (click)="RegisterFace()">
                <span *ngIf="faceRegistered">
                  Face Registered

                </span>  
                <span *ngIf="!faceRegistered">
                  Register Face

                </span>
          </button>
          <div *ngIf="registerfaceoption">

          <button mat-raised-button color="primary" (click)="captureFace()">Capture Face</button>
          <button mat-raised-button color="warn" (click)="stopVideo()">Cancel</button>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
          <button mat-button matStepperNext class="matStepperNext">Next</button>
        </div>
      </mat-step>

      <!-- Step 3: Device Binding -->
      <mat-step label="Device Binding" [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Device ID</mat-label>
            <input matInput formControlName="deviceId" placeholder="Enter your device ID" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
            <button mat-button matStepperNext class="matStepperNext">Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Step 4: Completion -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You have successfully registered!</p>
        <div>
          <button mat-button matStepperPrevious class="matStepperPrevious">Back</button>
          <button mat-button (click)="onRegisterSubmit()">Finish</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

  </div>
  <div class="auth-footer">
    <a mat-button (click)="toggleForm()">{{ isLogin ? 
                                          'Already have an account? Login ' : ' Dont have an Account Register' 
                                          }}
    </a>

  </div>
</div>