<p-toolbar color="primary" class="sticky-header">
  <span>Student Portal</span>
  <span class="spacer"></span>
  <div class="nav-links" >
    <a  routerLink="/" fragment="home">Home</a>
    <a  (click)="toggleForm()">{{ isLogin ? 'Login' : 'Register' }}</a>
  </div>
</p-toolbar>
<p-toast key="toast1"></p-toast>
<div class="auth-container">
  <!-- Login Form -->
  <div *ngIf="!isLogin" @formTransition>
    <h2>Login</h2>
    <div class="login-form">
      <div class="card flex flex-column md:flex-row gap-3">

        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="fas fa-user"></i>
          </p-inputGroupAddon>
          <input pInputText [(ngModel)]="loginStudentIdOrEmail" placeholder="Enter your student ID or email" />
        </p-inputGroup>
        
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="fas fa-lock"></i>
          </p-inputGroupAddon>
          <input pInputText [(ngModel)]="loginPassword" [type]="hide ? 'password' : 'text'" placeholder="Enter your password" />
          <button pButton pButtonIcon (click)="togglePasswordVisibility()">
            <i class="fas" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </p-inputGroup>
      </div>
      <p-button  (click)="onLoginSubmit()">Login</p-button>
    
      
    </div>
  </div>

  <!-- Register Form -->
  <div *ngIf="isLogin" @formTransition>
    <h2>Student Registration Form</h2>
    <p-stepper [(activeStep)]="active">
       <p-stepperPanel>
         <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()">
            <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                    'bg-primary border-primary': index <= active!,
                    'surface-border': index > active!
                }"
            >
                <i class="fas fa-info"></i>
            </span>
        </button>

         </ng-template>
         <ng-template pTemplate="content" let-nextCallback="nextCallback" >
          <div class="flex flex-column gap-2 mx-auto" >
              <div class="text-center mt-3 mb-3 text-xl font-semibold">Create your account</div>
              <form [formGroup]="firstFormGroup">
                <div class="p-field p-grid">
                  <label for="studentId" class="p-col-12 p-md-2">Student ID</label>
                  <div class="p-col-12 p-md-10">
                    <input id="studentId" pInputText formControlName="studentId" placeholder="Enter your student ID" />
                  </div>
                </div>
    
                <div class="p-field p-grid">
                  <label for="name" class="p-col-12 p-md-2">Full Name</label>
                  <div class="p-col-12 p-md-10">
                    <input id="name" pInputText formControlName="name" placeholder="Enter your full name" />
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="email" class="p-col-12 p-md-2">Email</label>
                  <div class="p-col-12 p-md-10">
                    <input id="email" pInputText formControlName="email" placeholder="Enter your email" />
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="phoneNumber" class="p-col-12 p-md-2">Phone Number</label>
                  <div class="p-col-12 p-md-10">
                    <input id="phoneNumber" pInputText formControlName="phoneNumber" placeholder="Enter your phone number" />
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="phoneNumber1" class="p-col-12 p-md-2">Phone Number</label>
                  <div class="p-col-12 p-md-10">
                    <input id="phoneNumber1" pInputText formControlName="phoneNumber1" placeholder="Enter your parents phone number" />
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="password" class="p-col-12 p-md-2">Password</label>
                  <div class="p-col-12 p-md-10">
                    <p-password id="password" formControlName="password" toggleMask="true" placeholder="Enter your password" > </p-password>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="confirmPassword" class="p-col-12 p-md-2">Confirm Password</label>
                  <div class="p-col-12 p-md-10">
                    <p-password id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password" [toggleMask]="true" ></p-password>
                    <!-- <input id="confirmPassword" pInputText formControlName="confirmPassword" placeholder="Confirm your password" /> -->
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="year">Year</label>
                  <div>
                    <p-dropdown formControlName="year" [options]="yearOptions" placeholder="Select Year"></p-dropdown>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="semester">Semester</label>
                  <div>
                    <p-dropdown formControlName="semester"  [options]="semesterOptions" placeholder="Select Semester"></p-dropdown>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="academicYear">Academic Year</label>
                  <div>
                    <p-dropdown formControlName="academicYear" [options]="academicYearOptions" optionLabel="start_year" optionValue="id" placeholder="Select Academic Year" [filter]="true">
                      <ng-template let-option pTemplate="selectedItem">
                        {{ option.start_year }} - {{ option.end_year }}
                      </ng-template>
                      <ng-template let-option pTemplate="item">
                        {{ option.start_year }} - {{ option.end_year }}
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="branch">Branch</label>
                  <div>
                    <p-dropdown formControlName="branch" [options]="branchOptions" optionLabel="name" optionValue="id" placeholder="Select Branch"></p-dropdown>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="isLateralEntry">Lateral Entry</label>
                  <div>
                    <p-checkbox formControlName="isLateralEntry" binary="true"></p-checkbox>
                  </div>
                </div>

              </form>
              
          </div>
          <div class="flex pt-4 justify-content-end">
              <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
          </div>
      </ng-template>

      </p-stepperPanel>

      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()">
            <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                    'bg-primary border-primary': index <= active!,
                    'surface-border': index > active!
                }"
            >
                <i class="fas fa-user"></i>
            </span>
        </button>

         </ng-template>
         <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" >
           <div *ngIf="loading"  class="loading">
            <p-progressSpinner></p-progressSpinner>
           </div>

          <div class="face-recognition">
            <video id="videoElement" width="100%" autoplay muted></video>
            <p-button  *ngIf="!registerfaceoption" (click)="RegisterFace()">
                  <span *ngIf="faceRegistered">
                    Face Registered
                  </span>  
                  <span *ngIf="!faceRegistered">
                    Register Face
                  </span>
            </p-button>
            <div *ngIf="registerfaceoption">
              <p-button  (click)="captureFace()">Capture Face</p-button>
              <p-button  (click)="stopVideo()">Cancel</p-button>
            </div>
          </div>
          <div class="flex pt-4 justify-content-between">
            <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
            <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
        </div>


        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()">
            <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                    'bg-primary border-primary': index <= active!,
                    'surface-border': index > active!
                }"
            >
                <i class="fas fa-mobile"></i>
            </span>
        </button>

         </ng-template>
         <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" >
          <div class="flex flex-column gap-2 mx-auto">
              <div class="text-center mt-3 mb-3 text-xl font-semibold">Register your Device</div>
              <form [formGroup]="thirdFormGroup" >
                <div class="p-field p-grid">
                  <label for="deviceId" class="p-col-12 p-md-2">Device ID</label>
                  <div class="p-col-12 p-md-10">
                    <input id="deviceId" pInputText formControlName="deviceId" placeholder="Enter your device ID" />
                  </div>
                </div>
              </form>
          </div>

          <div class="flex pt-4 justify-content-end">
            <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
              <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
          </div>
      </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()">
            <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                    'bg-primary border-primary': index <= active!,
                    'surface-border': index > active!
                }"
            >
                <i class="fas fa-check"></i>
            </span>
        </button>

         </ng-template>
         <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
          <div class="flex flex-column gap-2 mx-auto" >
              <div class="text-center mt-3 mb-3 text-xl font-semibold">Submit your account Registration</div>
              <div class="p-field p-grid">
                <p-button  (click)="onRegisterSubmit()">onRegisterSubmit</p-button>              
              </div>
          </div>
          <div class="flex pt-4 justify-content-end">
            <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
              
          </div>
      </ng-template>
      </p-stepperPanel>
    </p-stepper>
   

  </div>
  <div class="auth-footer">
    <a p-button (click)="toggleForm()">{{ isLogin ? 
                                          'Already have an account? Login ' : ' Dont have an Account Register' 
                                          }}
    </a>

  </div>
</div>