.auth-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
}
.login-form{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.login-form .form-field, .login-form button {
  width: 60%;

}

.register-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.register-form .form-field {
  width: calc(50% - 10px); /* Two fields per row with spacing */
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field input,
.form-field select {
  width: 100%;
  border-radius: 50px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.face-recognition {
  text-align: center;
  margin-top: 20px;
}

.face-recognition video {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.face-recognition button {
  width: auto;
  margin: 5px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-row .lateral_entry{
margin-top:10px;
  width: 92%;
}

